#header{
	#mainnavigation{
		.selected a.kultur{ background-position: -189px -36px }
	

		.selected a.opinion { background-position: -189px -59px }

		a.opinion {
		    width: 69px;
		    background-position: 11px -59px;
		}

		 a.sport {
		    width: 54px;
		    background-position: 11px -82px;
		}
	}
}

.container{
	.list-1{
		.item-1{
			color:red;
		}
		.item-2{
			color:green;
		}
	}
	.list-2{
		.item-1{
			color:blue;
		}
		.item-2{
			color:yellow;
		}
	}
}

.container
	.list-1
		.item-1
			color red
		.item-2
			color green
	.list-2
		.item-1
			color blue
		.item-2
			color yellow

